<h1>Question 14

<h5>Question:</h5>
Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.

Suppose the following input is supplied to the program:

<br>

Hello world!

<br>

Then, the output should be:

<br>

UPPER CASE 1

LOWER CASE 9

<h6>Hints:</h6>
In case of input data being supplied to the question, it should be assumed to be a console input.

<h6>Solutions :

In [ ]:
txt = input("Enter the string : ")
upper = 0
lower = 0
for i in txt:
  if("a"<=i<="z"):
    lower+=1
  elif("A"<=i<="Z"):
    upper+=1
print("UPPER CASE",upper)
print("LOWER CASE",lower)

<h4>OR

In [ ]:
word = input("Enter the string : ")
upper, lower = 0, 0

for i in word:
    lower += i.islower()
    upper += i.isupper()

print("UPPER CASE {0}\nLOWER CASE {1}".format(upper, lower))

<h5>OR

In [ ]:
word = input()
upper = sum(1 for i in word if i.isupper())
# sum function cumulatively sum up 1's if the condition is True
lower = sum(1 for i in word if i.islower())

print("UPPER CASE {0}\nLOWER CASE {1}".format(upper, lower))


<br>

<h2>Question 15

<h5>Question:</h5>

Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.

Suppose the following input is supplied to the program:

9
<br>Eg: (9+99+999+9999)
<br>

Then, the output should be:

11106

<h6>Hints:</h6>
In case of input data being supplied to the question, it should be assumed to be a console input.

<h4>Solutions

In [13]:
a=int(input())
temp=0
sum=0
for i in range(1,5):
  temp=temp*10+a
  sum=sum+temp
print(sum)

''' case 1:
        line 5-> 0 = 0 +9
        line 6-> 0 = 0 + 9
    case 2:
        line 5-> 9 = 90 +9
        line 6-> 108 = 9 + 99
    case 3:
        line 5-> 99 = 990 +9
        line 6-> 1107 = 108 + 999
    case 4:
      line 5-> 999 = 9990 +9
      line 6-> 11106 = 1107 + 9999
'''

9
11106

<h4>OR

In [ ]:
a = input()
total, tmp = 0, str()  # initialing an integer and empty string

for i in range(4):
    tmp += a  # concatenating 'a' to 'tmp'
    total += int(tmp)  # converting string type to integer type

print(total)

9
11106

<h4>OR

In [1]:
a = input()
total = int(a) + int(2*a) + int(3*a) + int(4*a)  # N*a=Na, for example
# a="23", 2*a="2323",3*a="232323"

print(total)

9
11106