<h2>Question 16

<h4>Question:</h4>
Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. >Suppose the following input is supplied to the program:

1,2,3,4,5,6,7,8,9

Then, the output should be:

1,9,25,49,81

<h3>Solutions :

In [ ]:
list1 = [int(x) for x in input().split(',')]
list2 = [x**2 for x in list1 if x%2 != 0]
print(list2)

1,2,3,4,5,6,7,8,9
[1, 9, 25, 49, 81]

<h4>OR

In [ ]:
lst = input().split(",")  # splits in comma position and set up in list

seq = []
lst = [int(i) for i in lst]  # converts string to integer
for i in lst:
    if i % 2 != 0:
        i = i * i
        seq.append(i)


seq = [
    str(i) for i in seq
]  # All the integers are converted to string to be able to apply join operation
print(",".join(seq))

1,2,3,4,5,6,7,8,9
1,9,25,49,81

<h2>Question 17

<h5>Question:</h5>
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:

D 100<br>
W 200<br>
D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:

D 300<br>
D 300<br>
W 200<br>
D 100<br>


Then, the output should be:

500

<h5>Hints:</h5>
In case of input data being supplied to the question, it should be assumed to be a console input.

<h4>Solution :

In [ ]:
account = 0
while True:
    action = input("Deposit/Whitdrow/Balance/Quit? D/W/B/Q: ").lower()
    if action == "d":
        deposit = input("How much would you like to deposit? ")
        account = account + int(deposit)
    elif action == "w":
        withdrow = input("How much would you like to withdrow? ")
        account = account - int(withdrow)
    elif action == "b":
        print(account)
    elif action == "q":
        print("Thanks for banking with us!")
        quit()

<h4>OR

In [ ]:
lst = []
while True:
    x = input()
    if len(x) == 0:
        break
    lst.append(x)

balance = 0
for item in lst:
    if "D" in item:
        balance += int(item.strip("D "))
    if "W" in item:
        balance -= int(item.strip("W "))
print(balance)