<h2>Question 4

Question:<br>
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.Suppose the following input is supplied to the program:

37,67,55,33,12,98

Then the output should be:
['34', '67', '55', '33', '12', '98'] <br>
('34', '67', '55', '33', '12', '98')

Hint:<br>
    In case of input data being supplied to the question, it should be assumed to be a console input.tuple() method can convert list to tuple

In [ ]:
lst = input().split(",")
'''the input is being taken as string and as it is string it has a built in
   method name split. ',' inside split function does split where it finds any ','
   and save the input as list in lst variable'''

tup =tuple(lst) # tuple method converts list to tuple

print(lst)# for printing list

print(tup)# for printing tuplr

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

<h2>Question 5

<br>

<h3>Question:<br>
Define a class which has at least two methods:

▪ getString: to get a string from console input<br>

  ▪ printString: to print the string in upper case.
  <br><br>
  Also please include simple test function to test the class methods.

Hints:<br>
_Use **init method to construct some parameters_**

In [ ]:
class Mystring:
  def __init__(self):
    pass
  def get_string(self):
    self.s=input("Enter the string:")

  def print_string(self):
    print(self.s.upper())


xx = Mystring()
xx.get_string()
xx.print_string()

ABCD

<h3>Question 5

<h4>Question:</h4>

Write a program that calculates and prints the value according to the given formula:

Q = Square root of [(2 _ C _ D)/H]

Following are the fixed values of C and H:

C is 50. H is 30.

D is the variable whose values should be input to your program in a comma-separated sequence.For example Let us assume the following comma separated input sequence is given to the program:

100,150,180

The output of the program should be:

18,22,24

<h5>Hints:</h5>
If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26).In case of input data being supplied to the question, it should be assumed to be a console input.

<h4>Solution

In [ ]:
import math as m
def cal(D_value):
  C,H=50,30
  result = []

  for d in D_value:
    Q = m.sqrt((2*C*int(d))/H)

    result.append(round(Q))
  return result

#Input and output
def main():
  value=input("Enter numbers(comma-seprate the values): ")
  d_value=value.split(",")

  #Calulate Q for each D

  result = cal(d_value)
  print(result)


main()

<h4>OR

In [ ]:
from math import sqrt  # import specific functions as importing all using *

# is bad practice

C, H = 50, 30


def calc(D):
    return sqrt((2 * C * D) / H)


D = [int(i) for i in input().split(",")]  # splits in comma position and set up in list
D = [int(i) for i in D]  # converts string to integer
D = [calc(i) for i in D]  # returns floating value by calc method for every item in D
D = [round(i) for i in D]  # All the floating values are rounded
D = [
    str(i) for i in D
]  # All the integers are converted to string to be able to apply join operation

print(",".join(D))

100,150,80
18,22,16

<h5>OR

In [ ]:
from math import *  # importing all math functions

C, H = 50, 30


def calc(D):
    D = int(D)
    return str(int(sqrt((2 * C * D) / H)))


D = input().split(",")
D = list(map(calc, D))  # applying calc function on D and storing as a list
print(",".join(D))

100,150,80
18,22,16

<h2>Question 7

<h5>Question</h5>

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.

Note: i=0,1.., X-1; j=0,1,¡­Y-1. Suppose the following inputs are given to the program: 3,5

Then, the output of the program should be:

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

<h4>Hints:</h4>
Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

<h3>Solutions

In [13]:
x = int(input("Enter the number of row(x): "))
y = int(input("Enter the number of column(y): "))

for i in range(x):
    for j in range(y):
        print(i * j, end=" ")
    print()

Enter the number of row(x): 3
Enter the number of column(y): 4
0 0 0 0
0 1 2 3
0 2 4 6

<h3>OR

In [10]:
x, y = map(int, input().split(","))
matrix = [[i * j for j in range(y)] for i in range(x) ]

for row in matrix:
    print(row)

#OR
print("\nOR\n")
print(matrix)

3,5
[0, 0, 0, 0, 0]
[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]

OR

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

<br>
<h2>Question 8

<br>

<h4>Question:</h4>
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

Suppose the following input is supplied to the program:

<br>

without,hello,bag,world

Then, the output should be :

bag,hello,without,world

<h5>Hints:</h5>
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
txt=map(input("Enter the words:").split(","))
txt.sort()
print(txt)

<h2>Questoin 9

<h4>Question : </h4>
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.

Suppose the following input is supplied to the program:

Hello world

Practice makes perfect

Then, the output should be:

HELLO WORLD

PRACTICE MAKES PERFECT

<h6>Hints:</h6>
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
txt = input("Enter the text: ")
print(txt.upper())

<h4>OR

In [15]:
#using list
lines = []
while True:
    s = input("Enter the string:")
    if s:
        lines.append(s.upper())
    else:
        break;

for line in lines:
    print(line)

hello
x
jbnjerngw

HELLO
X
JBNJERNGW